<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AutoHuoltoSovellus</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lisaa-auto">
                <span class="oi oi-plus" aria-hidden="true"></span> Lisää Auto
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/autot">
                <span class="oi oi-list" aria-hidden="true"></span> Autot
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lisaa-peravaunu">
                <span class="oi oi-plus" aria-hidden="true"></span> Lisää Perävaunu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/peravaunut">
                <span class="oi oi-list" aria-hidden="true"></span> Perävaunut
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lisaa-sailio">
                <span class="oi oi-plus" aria-hidden="true"></span> Lisää Säiliö
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/sailiot">
                <span class="oi oi-list" aria-hidden="true"></span> Säiliöt
            </NavLink>
        </li>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
